ProyLP/ORM/Operacion/Web References/net.solsersistem.servicios/loyalty_vwsp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="services_loyaltyvwsp">
        <s:complexType />
      </s:element>
      <s:element name="services_loyaltyvwspResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="services_loyaltyvwspResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="services_loyaltyvwspSoapIn">
    <wsdl:part name="parameters" element="tns:services_loyaltyvwsp" />
  </wsdl:message>
  <wsdl:message name="services_loyaltyvwspSoapOut">
    <wsdl:part name="parameters" element="tns:services_loyaltyvwspResponse" />
  </wsdl:message>
  <wsdl:portType name="loyalty_vwspSoap">
    <wsdl:operation name="services_loyaltyvwsp">
      <wsdl:input message="tns:services_loyaltyvwspSoapIn" />
      <wsdl:output message="tns:services_loyaltyvwspSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="loyalty_vwspSoap" type="tns:loyalty_vwspSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="services_loyaltyvwsp">
      <soap:operation soapAction="http://tempuri.org/services_loyaltyvwsp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="loyalty_vwspSoap12" type="tns:loyalty_vwspSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="services_loyaltyvwsp">
      <soap12:operation soapAction="http://tempuri.org/services_loyaltyvwsp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="loyalty_vwsp">
    <wsdl:port name="loyalty_vwspSoap" binding="tns:loyalty_vwspSoap">
      <soap:address location="http://servicios.solsersistem.net/Concesionarios/concesionarios_loyalty/loyalty_vwsp.asmx" />
    </wsdl:port>
    <wsdl:port name="loyalty_vwspSoap12" binding="tns:loyalty_vwspSoap12">
      <soap12:address location="http://servicios.solsersistem.net/Concesionarios/concesionarios_loyalty/loyalty_vwsp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>