Benavides/BEnavides_Produccion/BENA_PLB_LealtadBenavides/WebPfizer.LMS.eCard/Web References/WsPrepago_/WsEcardPrePago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://lms.com.mx/WebServices/PrepagoEcardVzla" xmlns:s1="http://www.lms.com.mx/WebServices/Prepago" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://lms.com.mx/WebServices/PrepagoEcardVzla" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://lms.com.mx/WebServices/PrepagoEcardVzla">
      <s:import namespace="http://www.lms.com.mx/WebServices/Prepago" />
      <s:element name="ProcesarCompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Compra" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Ticket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarCompraDemo">
        <s:complexType />
      </s:element>
      <s:element name="ProcesarCompraDemoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Ticket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CerrarCompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Token" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CerrarCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Comprobante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarCompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Token" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Comprobante" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.lms.com.mx/WebServices/Prepago">
      <s:element name="Compra" type="s1:Compra" />
      <s:complexType name="Compra">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pedido" type="s1:Pedido" />
        </s:sequence>
        <s:attribute name="Programa_intId" type="s:int" use="required" />
        <s:attribute name="Cadena_intId" type="s:int" use="required" />
        <s:attribute name="Sucursal_intId" type="s:int" use="required" />
        <s:attribute name="Terminal_intId" type="s:int" use="required" />
        <s:attribute name="UsuarioTicket_strId" type="s:string" />
        <s:attribute name="UsuarioCaptura_strId" type="s:string" />
        <s:attribute name="Tarjeta" type="s:string" />
      </s:complexType>
      <s:complexType name="Pedido">
        <s:attribute name="SKU" type="s:string" />
        <s:attribute name="Cantidad" type="s:int" use="required" />
        <s:attribute name="DescripcionSKU" type="s:string" />
      </s:complexType>
      <s:element name="Ticket" type="s1:Ticket" />
      <s:complexType name="Ticket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Folio" type="s1:Folio" />
        </s:sequence>
        <s:attribute name="Programa_intId" type="s:int" use="required" />
        <s:attribute name="TipoDato_ProgramaId" type="s:string" />
        <s:attribute name="ValidoProgramaId" type="s:boolean" use="required" />
        <s:attribute name="ExisteProgramaId" type="s:boolean" use="required" />
        <s:attribute name="ErrorProgramaId" type="s:string" />
        <s:attribute name="DescripcionErrorProgramaId" type="s:string" />
        <s:attribute name="Cadena_intId" type="s:int" use="required" />
        <s:attribute name="TipoDato_CadenaId" type="s:string" />
        <s:attribute name="ValidaCadenaId" type="s:boolean" use="required" />
        <s:attribute name="ExisteCadenaId" type="s:boolean" use="required" />
        <s:attribute name="ErrorCadenaId" type="s:string" />
        <s:attribute name="DescripcionErrorCadenaId" type="s:string" />
        <s:attribute name="Sucursal_intId" type="s:int" use="required" />
        <s:attribute name="TipoDato_SucursalId" type="s:string" />
        <s:attribute name="ValidaSucursalId" type="s:boolean" use="required" />
        <s:attribute name="ExisteSucursalId" type="s:boolean" use="required" />
        <s:attribute name="ErrorSucursalId" type="s:string" />
        <s:attribute name="DescripcionErrorSucursalId" type="s:string" />
        <s:attribute name="Terminal_intId" type="s:int" use="required" />
        <s:attribute name="TipoDato_TerminalId" type="s:string" />
        <s:attribute name="ValidaTerminalId" type="s:boolean" use="required" />
        <s:attribute name="ExisteTerminalId" type="s:boolean" use="required" />
        <s:attribute name="ErrorTerminalId" type="s:string" />
        <s:attribute name="DescripcionErrorTerminalId" type="s:string" />
        <s:attribute name="UsuarioTicket_strId" type="s:string" />
        <s:attribute name="TipoDato_UsuarioTicketId" type="s:string" />
        <s:attribute name="ValidaUsuarioTicketId" type="s:boolean" use="required" />
        <s:attribute name="ExisteUsuarioTicketId" type="s:boolean" use="required" />
        <s:attribute name="ErrorUsuarioTicketId" type="s:string" />
        <s:attribute name="DescripcionErrorUsuarioTicketId" type="s:string" />
        <s:attribute name="UsuarioCaptura_strId" type="s:string" />
        <s:attribute name="TipoDato_UsuarioCapturaId" type="s:string" />
        <s:attribute name="ValidaUsuarioCapturaId" type="s:boolean" use="required" />
        <s:attribute name="ExisteUsuarioCapturaId" type="s:boolean" use="required" />
        <s:attribute name="ErrorUsuarioCapturaId" type="s:string" />
        <s:attribute name="DescripcionErrorUsuarioCapturaId" type="s:string" />
        <s:attribute name="Tarjeta" type="s:string" />
        <s:attribute name="TipoDato_Tarjeta" type="s:string" />
        <s:attribute name="ValidaTarjeta" type="s:boolean" use="required" />
        <s:attribute name="ExisteTarjeta" type="s:boolean" use="required" />
        <s:attribute name="ErrorTarjeta" type="s:string" />
        <s:attribute name="DescripcionErrorTarjeta" type="s:string" />
        <s:attribute name="CotizacionId" type="s:string" />
        <s:attribute name="descripcionSKU" type="s:string" />
        <s:attribute name="NumeroCamposEncabezado" type="s:int" use="required" />
        <s:attribute name="NumeroCorrectosEncabezado" type="s:int" use="required" />
        <s:attribute name="NumeroErroresEncabezado" type="s:int" use="required" />
        <s:attribute name="NumerodePedidos" type="s:int" use="required" />
        <s:attribute name="NumeroCorrectoPedidos" type="s:int" use="required" />
        <s:attribute name="NumeroErronesPedidos" type="s:int" use="required" />
        <s:attribute name="CodigoExcepcion" type="s:int" use="required" />
        <s:attribute name="DescripcionExcepcion" type="s:string" />
      </s:complexType>
      <s:complexType name="Folio">
        <s:attribute name="SKU" type="s:string" />
        <s:attribute name="ValidoSKU" type="s:boolean" use="required" />
        <s:attribute name="ExisteSKU" type="s:boolean" use="required" />
        <s:attribute name="ErrorSKU" type="s:string" />
        <s:attribute name="DescripcionErrorSKU" type="s:string" />
        <s:attribute name="descripcionSKU" type="s:string" />
        <s:attribute name="Compras" type="s:int" use="required" />
        <s:attribute name="Beneficios" type="s:int" use="required" />
        <s:attribute name="Sugeridos" type="s:int" use="required" />
      </s:complexType>
      <s:element name="Token" type="s1:Token" />
      <s:complexType name="Token">
        <s:attribute name="CotizacionId" type="s:string" />
        <s:attribute name="Tarjeta" type="s:string" />
        <s:attribute name="SKU" type="s:string" />
        <s:attribute name="Cantidad" type="s:string" />
      </s:complexType>
      <s:element name="Comprobante" type="s1:Comprobante" />
      <s:complexType name="Comprobante">
        <s:attribute name="CodigoError" type="s:string" />
        <s:attribute name="DescripcionError" type="s:string" />
        <s:attribute name="Llave" type="s:string" />
        <s:attribute name="Tarjeta" type="s:string" />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcesarCompraSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesarCompra" />
  </wsdl:message>
  <wsdl:message name="ProcesarCompraSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesarCompraDemoSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesarCompraDemo" />
  </wsdl:message>
  <wsdl:message name="ProcesarCompraDemoSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesarCompraDemoResponse" />
  </wsdl:message>
  <wsdl:message name="CerrarCompraSoapIn">
    <wsdl:part name="parameters" element="tns:CerrarCompra" />
  </wsdl:message>
  <wsdl:message name="CerrarCompraSoapOut">
    <wsdl:part name="parameters" element="tns:CerrarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarCompraSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarCompra" />
  </wsdl:message>
  <wsdl:message name="CancelarCompraSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarCompraResponse" />
  </wsdl:message>
  <wsdl:portType name="WsEcardPrePagoSoap">
    <wsdl:operation name="ProcesarCompra">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que nos permite Obtener Beneficios de Pfizer.</wsdl:documentation>
      <wsdl:input message="tns:ProcesarCompraSoapIn" />
      <wsdl:output message="tns:ProcesarCompraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarCompraDemo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que nos permite Obtener Beneficios de Pfizer (Demo).</wsdl:documentation>
      <wsdl:input message="tns:ProcesarCompraDemoSoapIn" />
      <wsdl:output message="tns:ProcesarCompraDemoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CerrarCompra">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que nos permite Cerrar una Compra en base a una Cotizacion realizada.</wsdl:documentation>
      <wsdl:input message="tns:CerrarCompraSoapIn" />
      <wsdl:output message="tns:CerrarCompraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCompra">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método que nos permite Cancelar una Compra en base a una Cotizacion realizada.</wsdl:documentation>
      <wsdl:input message="tns:CancelarCompraSoapIn" />
      <wsdl:output message="tns:CancelarCompraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsEcardPrePagoSoap" type="tns:WsEcardPrePagoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarCompra">
      <soap:operation soapAction="http://lms.com.mx/WebServices/PrepagoEcardVzla/ProcesarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarCompraDemo">
      <soap:operation soapAction="http://lms.com.mx/WebServices/PrepagoEcardVzla/ProcesarCompraDemo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarCompra">
      <soap:operation soapAction="http://lms.com.mx/WebServices/PrepagoEcardVzla/CerrarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCompra">
      <soap:operation soapAction="http://lms.com.mx/WebServices/PrepagoEcardVzla/CancelarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsEcardPrePagoSoap12" type="tns:WsEcardPrePagoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarCompra">
      <soap12:operation soapAction="http://lms.com.mx/WebServices/PrepagoEcardVzla/ProcesarCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarCompraDemo">
      <soap12:operation soapAction="http://lms.com.mx/WebServices/PrepagoEcardVzla/ProcesarCompraDemo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarCompra">
      <soap12:operation soapAction="http://lms.com.mx/WebServices/PrepagoEcardVzla/CerrarCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCompra">
      <soap12:operation soapAction="http://lms.com.mx/WebServices/PrepagoEcardVzla/CancelarCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsEcardPrePago">
    <wsdl:port name="WsEcardPrePagoSoap" binding="tns:WsEcardPrePagoSoap">
      <soap:address location="http://72.32.11.237/WsEcardPrePagoDESA/WsEcardPrePago.asmx" />
    </wsdl:port>
    <wsdl:port name="WsEcardPrePagoSoap12" binding="tns:WsEcardPrePagoSoap12">
      <soap12:address location="http://72.32.11.237/WsEcardPrePagoDESA/WsEcardPrePago.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>